# Dependencies
node_modules/

# Environment variables
.env

# Build outputs
dist/
build/

# Logs
logs
*.log
npm-debug.log*

# IDE specific files
.idea/
.vscode/

# Temporary files
.tmp/
.temp/
tmp/
temp/ 